.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    padding-top: 34px;
}

.header__content {
    width: 254px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}
.header__logo{
    width: 32px;
    height: 32px;
}

.header__title{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    
}

@media screen and (max-width: 540px) {
    .header {
        margin-bottom: 50px;
    }
    
}

@media screen and (max-width: 320px) {
    .header {
        margin-bottom: ;
    }
}