.header {
    width: 100%;
    border: solid black;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    width: 254px;
    height: 70px;
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}
.header__logo{
    width: 12,6%;
    height: 12,6%;
}

.header__title{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
}