.main {
    width: 100%;
    height: 1880px;
}

.main__content {

    width: 76%;
    height: 83%;
    margin-top: 2%;
    align-items: center;
    padding: 0 10%;
}

.main__lead {
    width: 100%;
    height: 70%;
}

.main__lead--title {
    margin: 0;
    font-size: 96px;
    line-height: 1.0;
    font-weight: bold;
    text-align: center;
    padding: 1% 5%;

}

.main__lead--subtitle {
    margin: 0;
    font-size: 30px;
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
    padding: 1% 5%;
    padding-bottom: 5%;

}

.main__lead--image {
    width: 100%;
    height: 62%;
}

.main__intro {
    width: 100%;
}

.main__intro--title {
    margin: 0;
    font-size: 56px;
    line-height: 1.0;
    font-weight: bold;
    text-align: start;
    padding: 1% 5%;
    padding-left: 0;
    padding-right: 10%;
    padding-bottom: 5%;
}

.main__intro--quote {
    margin: 0;
    font-size: 24px;
    line-height: 1.5;
    font-weight: normal;
    text-align: start;
    padding: 1% 5%;
    padding-left: 0;
    padding-right: 10%;
}

.main__intro--author {
    margin: 0;
    font-size: 24px;
    line-height: 1.0;
    font-weight: normal;
    text-align: end;
    padding: 1% 5%;
    padding-left: 0;
    padding-right: 20%;
}

.main__intro--paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    text-align: start;
    padding: 1% 5%;
    padding-top: 4%;
    padding-left: 0;
    padding-right: 20%;
}