.main {
    width: 100%;
    height: 100%;
}

.main__content {
    width: 76%;
    height: 85%;
    margin-top: 5%;
    margin: solid black;
    align-items: center;
    padding: 0 12%;
}

.main__lead {
    width: 100%;
    height: 70%;
}

.main__lead--image {
    width: 100%;
    height: 62%;
}