.main {
    width: 100%;
}

.main__content {
}

.main__lead {
    max-width: 984px;
    margin: 0 auto;

}

.main__lead--title {
    margin: 0 auto;
    font-size: 96px;
    line-height: 1.0;
    font-weight: bold;
    text-align: center;
    max-width: 720px;
    margin-bottom: 32px;

}

.main__lead--subtitle {
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
    max-width: 720px;
    margin-bottom: 64px;
}

.main__lead--image {
    width: 100%;
    margin-bottom: 92px;
}

.main__intro {
    max-width: 984px;
    margin: 0 auto;
}

.main__intro--title {
    margin: 0;
    max-width: 830px;
    font-size: 56px;
    line-height: 1.0;
    font-weight: bold;
    text-align: start;
    margin-bottom: 40px;

}

.main__intro--quote {
    margin: 0;
    max-width: 738px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: normal;
    text-align: start;
    margin-bottom: 10px;
  
}

.main__intro--author {
    margin: 0;
    max-width: 738px;
    font-size: 24px;
    line-height: 1.0;
    font-weight: normal;
    text-align: end;
    margin-bottom: 32px;
}

.main__intro--paragraph {
    margin: 0;
    max-width: 722px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    text-align: start;
    
}