.page {
    margin: 0;
    font-family: 'Inter-Project';
    width: 100%;
    background-color: #2A2C2F;
    color: #ffffff;
    padding-bottom: 24px;
}

@media screen and (min-width:1280px) {
    .page {
        max-width: 1280px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
    
}