.page {
    margin: 0;
    font-family: 'Inter-Project';
    width: 100%;
    background-color: #2A2C2F;
    color: #ffffff;

}

@media screen and (min-width:1280px) {
    .page {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

}