@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header.css);
@import url(../pages/index.css);
@import url(../blocks/main.css);
@import url(../blocks/content.css);
@import url(../blocks/footer.css);
